<div class="chat-container">

    <div class="chat-messages">
      
      <div *ngFor="let item of displayedChatMessages">
        <div *ngIf="item.role === 'system'" style="background-color: rgb(247, 247, 248);">{{item.content}}</div>
        <div *ngIf="item.role === 'user'" style="background-color: rgb(255, 255, 255);">{{item.content}}</div>
      </div>
      
    </div>

    <div class="user-input">
      <input [(ngModel)]="userMessage" (keyup.enter)="sendUserMessage(userMessage)" placeholder="e.g. 'Broccoli is the healthiest vegetable'" />
      <button (click)="sendUserMessage(userMessage)">Send</button>
    </div>

  </div>
  
